input-base()
	vertical-align: top
	box-sizing: border-box
	-webkit-box-sizing: border-box
	padding: 0 20px
	border-radius: 6px
	margin: 5px
	height: 3em
	font: 1em "Source Sans", helvetica, arial, sans-serif
	font-weight: 200
	outline: none