/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/
@import input-mixin
@import utils
/* topdoc
  name: Text Input
  description: An input, for text.
  modifiers:
    :disabled: Disabled state
  markup:
    <input type="text" class="topcoat-text-input" value="" placeholder="text">
    <input type="text" class="topcoat-text-input" value="" placeholder="text" disabled>
  tags:
    - desktop
    - light
    - mobile
    - form
    - input
*/
.topcoat-text-input
  input-base()
  height var-height
  padding var-padding
  border var-border
  border-radius var-border-radius
  background-color var-background-color
  box-shadow var-box-shadow--down
  color var-color

.topcoat-text-input:focus
  background-color var-background-color--focus
  color var-color--focus

.topcoat-text-input:disabled
  disabled()

/* topdoc
  name: Text Input
  description: A bigger input, still for text.
  modifiers:
    :disabled: Disabled state
  markup:
    <input type="text" class="topcoat-text-input--large" value="" placeholder="text">
    <input type="text" class="topcoat-text-input--large" value="" placeholder="text" disabled>
  tags:
    - desktop
    - light
    - mobile
    - form
    - input
*/
.topcoat-text-input--large
  @extend .topcoat-text-input
  height var-height--large
  font-size var-font-size--large

.topcoat-text-input--large:focus
  background-color var-background-color--focus
  color var-color--focus

.topcoat-text-input--large.is-disabled
  disabled()

