@import input-mixin
@import utils

/*
 TopCoat Text Input
 -------------------

Applying "topcoat-text-input" to text-based form input elements such as "text", "search", or
"email" input element adds base styling.

.topcoat-text-input--large - larger-sized elements that match the height of a ".large-button".

<input type="text" class="topcoat-text-input {{modifier}}" value="" placeholder="Text input goes here">
<input type="text" class="topcoat-text-input {{modifier}}" value="" placeholder="Text input goes here">

:disabled - Disabled state

.is-disabled - Simulates a disabled state on mobile devices

*/

.topcoat-text-input
	input-base()
	border var-border
	background-color var-background-color
	box-shadow var-box-shadow--down
	color var-color

.topcoat-text-input:focus
	background-color var-text-input-background--focus
	color var-text-input-color--focus

.topcoat-text-input:focus::-webkit-input-placeholder
	color var-placeholder-color--input

.topcoat-text-input:disabled,
.topcoat-text-input.is-disabled
	disabled()

/*
 TopCoat Large Icon Button
 -------------------

:disabled - Disabled state

.is-disabled - Simulates a disabled state on mobile devices

*/

.topcoat-text-input--large
	@extend .topcoat-text-input
	height var-text-input-height--large
	font var-text-input-font--large
	font-weight var-text-input-font-weight--large

.topcoat-text-input--large.is-disabled,
.topcoat-text-input--large:disabled
	disabled()